html {

}

button {
    background-color: white;
  border: none;
  color: black;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 24px;
}

input {
    width: 563px;
    height: 40px
}

body {
    background-color: rgb(250, 243, 243);
    margin: 0;
    padding: 0;
}

.mast-head {
    background-color: white;
    padding: 0px 16px;
    height: 56px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0;
}

.center-search-bar-container {
    display: flex;
    align-items: center;
}


.right-buttons {
    display: flex;
    align-items: center;
}

.dot {
    height: 25px;
    width: 25px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
  }

  .body-content{
      display: flex;
      justify-content: center;
  }

  .video-content-container{
      margin: 24px;
  }

  .side-bar{
      background-color: white;
      margin: 24px 24px 0px 0px;
      height: 100vw;
      width: 400px;
  }

  .related-video-content {
      display: flex;
      margin: 5px 0px;
  }

  .related-video-content-details{
      margin-left: 5px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
  }

  .video-title {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    font-weight: bold;
  }

  .channel-name,
  .video-detail,
  .video-details,
  .subscribers {
      display: flex;
      flex-wrap: wrap;
    font-size: 14px;
    color: #606060;
  }
  .video-details {
      max-width: 98.36px;
  }

  .style-scope {
      max-height: 98px;
      min-width: 168px
  }

  .current-video-info {

  }

  .current-video-stats{
      display: flex;
      justify-content: space-between;
      border-bottom: 1px solid thistle;
      padding-bottom: 5px;
      align-items: center;
  }

  .interactive-buttons button {
      background-color: rgb(250, 243, 243);
  }

  .interactive-buttons * {
      display: flex;
      align-items: center;
  }

  .like,
  .dislike,
  .share,
  .save,
  .options {
      margin: 0 3px;
      color: black;
  }

  .view-stats{
      display: flex;
      color: rgb(73, 73, 73);
  }

  .interactive-buttons {
      display: flex;
  }

  .about {
      padding: 10px 0px;
      border-bottom: 1px solid thistle;
  }

  .upload-profile {
      display: flex;
      justify-content: space-between;
      align-items: center;
  }

  .upload-profile-about{
    margin-left: 10px;
  }
  .profile-basics{
      display: flex;
      align-items: center;
  }

  .profile-basics .dot{
      background-color: green;
      height: 50px;
      width: 50px;
      display: flex;
      justify-content: center;
      align-items: center;
  }

  .initial{
      color: white;
      font-size: 28px;
  }

  .username {
      font-weight: bold;
      margin-bottom: 4px;
  }

  .subscribe {
      background-color: red;
      color: white;
      font-size: 15px;
      font-weight: bold;
      padding: 10px;
  }

  .about-text {
      width: 615px;
      height: 116px;
      margin-left: 61px;
  }